/* Cambios para un diseño más moderno */

body {
    font-family: 'Arial', sans-serif; /* Cambia la fuente si lo deseas */
    background-color: #f8f9fa; /* Color de fondo claro */
}

.navbar {
    background-color: #007bff; /* Fondo de la barra de navegación */
}

.nav-link {
    color: #fff; /* Color de texto en la navegación */
}

    .nav-link:hover {
        color: #ffd700; /* Color de texto en hover */
    }

.btn-primary {
    background-color: #0069d9; /* Color del botón */
    border-color: #005cbf; /* Color del borde del botón */
}

.container {
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 0.5rem; /* Bordes redondeados */
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* Estilo para las sombras */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

/* Personaliza el enlace de la marca */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fff; /* Color de texto de la marca */
}
